<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://{{ namenode_hostname }}:9000</value>
    </property>
    <property>
        <name>hadoop.proxyuser.knox.groups</name>
        <value>users</value>
    </property>
    <property>
        <name>hadoop.proxyuser.knox.hosts</name>
        <value>Knox</value>
    </property>
    <property>
        <name>hadoop.security.authentication</name>
        <value>{{ hadoop_security_authentication }}</value>
    </property>
    <property>
        <name>hadoop.security.authorization</name>
        <value>{{ hadoop_security_authorization_bool }}</value>
    </property>
    <property>
        <name>dfs.web.authentication.kerberos.principal</name>
        <value>HTTP/{{ ansible_host }}@{{ kerberos_realm }}</value>
    </property>
    <property>
        <name>dfs.web.authentication.kerberos.principal</name>
        <value>HTTP/{{ ansible_host }}@{{ kerberos_realm }}</value>
    </property>

    <property>
        <name>dfs.namenode.keytab.file</name>
        <value>{{ hdfs_keytab_file_path }}</value>
    </property>

    <property>
        <name>dfs.datanode.keytab.file</name>
        <value>{{ hdfs_keytab_file_path }}</value>
    </property>

    <property>
        <name>dfs.secondary.namenode.keytab.file</name>
        <value>{{ hdfs_keytab_file_path }}</value>
    </property>
</configuration>

