<configuration>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{ name_node_dir }}</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>{{ data_node_dir }}</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>{{ replication_factor }}</value>
    </property>
    <property>
        <name>webhdfs.enabled</name>
        <value>true</value>
    </property>
    <property>
        <name>dfs.namenode.kerberos.principal</name>
        <value>hdfs/{{ ansible_hostname }}@{{ kerberos_realm}}</value>
    </property>
    <property>
        <name>dfs.datanode.kerberos.principal</name>
        <value>hdfs/{{ ansible_hostname }}@{{  kerberos_realm }}</value>
    </property>
    <property>
        <name>dfs.secondary.kerberos.principal</name>
        <value>hdfs/{{ ansible_hostname }}@{{  kerberos_realm }}</value>
    </property>
    <property>
        <name>dfs.secondary.kerberos.principal</name>
        <value>http/{{ ansible_hostname }}@{{  kerberos_realm }}</value>
    </property>
</configuration>

