<configuration>
  {% if 'hadoop_namenode' in group_names %}
  <property>
      <name>dfs.namenode.name.dir</name>
      <value>{{ name_node_dir }}</value>
  </property>
  {% endif %}

  {% if 'hadoop_datanode' in group_names %}
  <property>
      <name>dfs.datanode.data.dir</name>
      <value>{{ data_node_dir }}</value>
  </property>
  {% endif %}

</configuration>
