<configuration>
    <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
    </property>
    <property>
        <name>yarn.app.mapreduce.am.env</name>
        <value>HADOOP_MAPRED_HOME=$HADOOP_HOME</value>
    </property>
    <property>
        <name>mapreduce.map.env</name>
        <value>HADOOP_MAPRED_HOME=$HADOOP_HOME</value>
    </property>
    <property>
        <name>mapreduce.reduce.env</name>
        <value>HADOOP_MAPRED_HOME=$HADOOP_HOME</value>
    </property>
    <property>
        <name>yarn.app.mapreduce.resource.mb</name>
        <value>{{ yarn_app_mapreduce_resource_mb }}</value>
    </property>
    <property>
        <name>yarn.app.map.resource.mb</name>
        <value>{{ yarn_app_map_resource_mb }}</value>
    </property>
    <property>
        <name>yarn.app.map.resource.mb</name>
        <value>{{ yarn_app_reduce_resource_mb }}</value>
    </property>
</configuration>

