<configuration>
  <property>
    <name>ssl.client.truststore.location</name>
    <value>{{ ssl_truststore_path }}</value>
  </property>
  <property>
    <name>ssl.client.truststore.password</name>
    <value>{{ keystore_password }}</value>
  </property>
</configuration>
