<configuration>
  <property>
    <name>ssl.server.keystore.location</name>
    <value>/usr/local/hadoop/etc/hadoop/keystore.jks</value>
  </property>
  <property>
    <name>ssl.server.keystore.password</name>
    <value>kubic@j17</value>
  </property>
  <property>
    <name>ssl.server.key.password</name>
    <value>kubic@j17</value>
  </property>
  <property>
    <name>ssl.server.truststore.location</name>
    <value>/usr/local/hadoop/etc/hadoop/truststore.jks</value>
  </property>
  <property>
    <name>ssl.server.truststore.password</name>
    <value>kubic@j17</value>
  </property>
</configuration>

