<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>{{ namenode_hostname }}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.webapp.address</name>
        <value>Master1:8088</value>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
    <property>
        <name>yarn.acl.enable</name>
        <value>{{ yarn_acl_enable }}</value>
    </property>
    <property>
        <name>yarn.nodemanager.resource.memory-mb</name>
        <value>{{ yarn_nodemanager_resource_memory_mb }}</value>
    </property>
    <property>
        <name>yarn.scheduler.maximum-allocation-mb</name>
        <value>{{ yarn_scheduler_maximum_allocation_mb }}</value>
    </property>
    <property>
        <name>yarn.scheduler.minimum-allocation-mb</name>
        <value>{{ yarn_scheduler_minimum_allocation_mb }}</value>
    </property>
    <property>
        <name>yarn.nodemanager.vmem-check-enabled</name>
        <value>{{ yarn_nodemanager_vmem_check_enabled }}</value>
    </property>
    <property>
        <name>yarn.log-aggregation-enable</name>
        <value>true</value>
        <description>
            This enables the log aggregation feature. It's the master switch.
        </description>
    </property>

    <property>
        <name>yarn.log-aggregation.retain-seconds</name>
        <value>604800</value>
        <description>
            How long to keep the aggregated logs in HDFS, in seconds.
            This example sets it to 7 days (7 * 24 * 60 * 60 = 604800).
            Set this to a value that makes sense for your needs.
        </description>
    </property>
</configuration>
