<configuration>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>{{ namenode_hostname }}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.webapp.address</name>
        <value>Master1:8088</value>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
    <property>
        <name>yarn.acl.enable</name>
        <value>{{ yarn_acl_enable }}</value>
    </property>
    <property>
        <name>yarn.nodemanager.resource.memory-mb</name>
        <value>{{ yarn_nodemanager_resource_memory_mb }}</value>
    </property>
    <property>
        <name>yarn.scheduler.maximum-allocation-mb</name>
        <value>{{ yarn_scheduler_maximum_allocation_mb }}</value>
    </property>
    <property>
        <name>yarn.scheduler.minimum-allocation-mb</name>
        <value>{{ yarn_scheduler_minimum_allocation_mb }}</value>
    </property>
    <property>
        <name>yarn.nodemanager.vmem-check-enabled</name>
        <value>{{ yarn_nodemanager_vmem_check_enabled }}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.principal</name>
        <value>yarn/{{ inventory_hostname }}@{{ kerberos_realm }}</value>
    </property>

    <property>
        <name>yarn.nodemanager.principal</name>
        <value>yarn/{{ inventory_hostname }}@{{ kerberos_realm }}</value>
    </property>

    <property>
        <name>yarn.resourcemanager.keytab</name>
        <value>{{ yarn_keytab_file_path }}</value>
    </property>

    <property>
        <name>yarn.nodemanager.keytab</name>
        <value>{{ yarn_keytab_file_path }}</value>
    </property>

    <property>
        <name>yarn.timeline-service.principal</name>
        <value>yarn/{{ inventory_hostname }}@{{ kerberos_realm }}</value>
    </property>

    <property>
        <name>yarn.timeline-service.keytab</name>
        <value>{{ yarn_keytab_file_path }}</value>
    </property>

    <property>
        <name>yarn.resourcemanager.delegation.token.renew-interval</name>
        <value>{{ yarn_token_renew_interval }}</value> <!-- Renewal interval in milliseconds (1 hour) -->
    </property>

    <property>
        <name>yarn.resourcemanager.delegation.token.max-lifetime</name>
        <value>{{ yarn_token_max_lifetime }}</value> <!-- Maximum lifetime of a delegation token (7 days) -->
    </property>

    <property>
        <name>yarn.nodemanager.keytab.automatic-renewal.enabled</name>
        <value>true</value>
    </property>
</configuration>
