spark.history.provider            {{ spark_history_provider }}
spark.history.fs.logDirectory     hdfs://{{ namenode_hostname }}:9000/spark-logs
spark.history.fs.update.interval  {{ spark_history_fs_update_interval }}
spark.history.ui.port             {{ spark_history_ui_port }}
