spark.history.provider            {{ spark_history_provider }}
spark.history.fs.logDirectory     hdfs://{{ namenode_hostname }}:9000/spark-logs
spark.history.fs.update.interval  {{ spark_history_fs_update_interval }}
spark.history.ui.port             {{ spark_history_ui_port }}
spark.executor.cores              {{ spark_executor_cores }}
spark.executor.memory             {{ spark_executor_memory }}
spark.driver.cores                {{ spark_driver_cores  }}
spark.driver.memory               {{ spark_driver_memory }}
spark.ui.showConsoleProgress      {{  spark_ui_showConsoleProgress }}
spark.eventLog.enabled            {{  spark_eventLog_enabled }}
spark.eventLog.dir                {{ spark_eventLog_dir }}

