livy.server.port = 8998
livy.spark.master = yarn
livy.spark.deployMode = cluster
livy.spark.home = {{ spark_home }}
livy.server.ssl.key-store=/home/ubuntu/certs/keystore.jks
livy.server.ssl.key-store-password={{ keystore_password }}
livy.server.ssl.trust-store=/home/ubuntu/certs/truststore.jks
livy.server.ssl.trust-store-password={{ truststore_password }}
livy.server.ssl.enabled=true
